@import '/src/variables';

.container{
    padding: 25px 55px;
    
    .content{
        max-width: 1440px;
        margin: auto;
        .back-box{
            display: flex;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 25px;

            a{
                padding: 6px 40px;
                text-decoration: none;
                border-radius: 5px;
                font-weight: 600;
            }
        }
        .country-container{
            padding-top: 25px;
            height: 450px;
            display: flex;
            justify-content: space-between;
            
            .country-flag{
                width: 45%;
                display: table;
                height: 450px;
                .image-container{
                    display: table-cell;
                    vertical-align: middle;
                    img{
                        width: 100%;
                    }
                }
            }
            .country-info{
                width: 45%;
                display: table;
                height: 450px;
                .country-info-box{
                    display: table-cell;
                    vertical-align: middle;
                    .title{
                        h1{
                            margin-top: 0px;
                        }
                    }
                
                    .description{
                        display: flex;
                        justify-content: space-between;
                        .label-value-container{
                            height: 20px;
                            margin: 10px 0px;
                            .label{
                                font-weight: 600;
                            }
                        }
                    }
                    .borders{
                        margin-top: 50px;
                        display: flex;
                        .border-text{
                            font-weight: 600;
                        }
                    }
                    .borders a{
                        margin: 0px 8px;
                        width: 90px;
                        padding: 3px 15px;
                        text-align: center;
                        text-decoration: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    .borders span{
                        margin-right: 10px;
                        display: block;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

@media(max-width: 850px){
    .container{
        .content{
            .country-container{
                display: block;
                height: auto;
                .country-flag{
                    margin: auto;
                    height: 100px;
                    width: 100%;
                    .image-container{
                        display: block;
                    }
                }
                .country-info{
                    margin-top: 40px;
                    width: 100%;
                    .country-info-box{
                        .borders a{
                            margin: 10px 0px;
                            width: inherit;
                            max-width: 400px;
                        }       
                        .description{
                            display: block;
                        }
                        .borders{
                            display: block;
                            .btn-borders{
                                display: grid;
                            }
                            .border-text{
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 600px){
    .container{
        padding: 15px 30px;
    }
}