@import '/src/variables';


:host ::ng-deep main.light-theme{
    background-color: $veryLightGray;
    height: 100vh;

    header.header{
        background-color: $white;
        -webkit-box-shadow: $boxShadowLight;
        -moz-box-shadow: $boxShadowLight;
        box-shadow: $boxShadowLight;

        .header-container{
            .app-title{
                h1{
                    color: $veryDarkBlue;
                }
            }
            .theme-switcher{
                span{
                    color:  $veryDarkBlue;
                }
            }
        }
    }

    .container{
        background-color: $veryLightGray;

        .content{
            .filter-box{
                .search-by-term{
                    .search-term-input{
                        color: $darkGray;
                        background-color: $white;
                        -webkit-box-shadow: $boxShadowLight;
                        -moz-box-shadow: $boxShadowLight;
                        box-shadow: $boxShadowLight;
                    }
                }

                .search-by-region{
                    .search-by-region-select{
                        background-color: $white;
                        color: $darkGray;
                        -webkit-box-shadow: $boxShadowLight;
                        -moz-box-shadow: $boxShadowLight;
                        box-shadow: $boxShadowLight;

                        option{
                            background-color: $white;
                        }
                    }
                }
            }

            .countries-container{
                .card{
                    -webkit-box-shadow: $boxShadowLight;
                    -moz-box-shadow: $boxShadowLight;
                    box-shadow: $boxShadowLight;
                    background-color: $white;
                    color: $veryDarkBlue;
                }
            }

            .back-box{
    
                a{
                    background-color: $white;
                    color: $veryDarkBlue;
                    -webkit-box-shadow: $boxShadowLight;
                    -moz-box-shadow: $boxShadowLight;
                    box-shadow: $boxShadowLight;
                }
            }
            .country-container{
                    .country-info{
                        .country-info-box{
                            color: $veryDarkBlue;
                            .borders a{
                                background-color: $white;
                                color: $veryDarkBlue;
                                -webkit-box-shadow: $boxShadowLight;
                                -moz-box-shadow: $boxShadowLight;
                                box-shadow: $boxShadowLight;
                            }
                    }
                }
            }
        }
    }
}


:host ::ng-deep main.dark-theme{

    background-color: $darknessBlue;
    height: 100vh;

    header.header{
        background-color: $darkBlue;
        -webkit-box-shadow: $boxShadowDark;
        -moz-box-shadow: $boxShadowDark;
        box-shadow: $boxShadowDark;

        .header-container{
            .app-title{
                h1{
                    color: $white;
                }
            }
            .theme-switcher{
                span{
                    color:  $white;
                }
            }
        }
    }

    .container{
        background-color: $darknessBlue;

        .content{
            .filter-box{
                .search-by-term{
                    img{
                        filter: invert(1);
                    }
                    .search-term-input{
                        color: $white;
                        background-color: $darkBlue;
                        -webkit-box-shadow: $boxShadowDark;
                        -moz-box-shadow: $boxShadowDark;
                        box-shadow: $boxShadowDark;
                    }
                    .search-term-input::placeholder{
                        color: $white !important;
                    }
                }

                .search-by-region{
                    .search-by-region-select{
                        background-color: $darkBlue;
                        color: $white;
                        -webkit-box-shadow: $boxShadowDark;
                        -moz-box-shadow: $boxShadowDark;
                        box-shadow: $boxShadowDark;

                        option{
                            background-color: $darkBlue;
                            color: $white;
                        }
                    }
                }
            }

            .countries-container{
                .card{
                    background-color: $darkBlue;
                    color: $white;
                    -webkit-box-shadow: $boxShadowDark;
                    -moz-box-shadow: $boxShadowDark;
                    box-shadow: $boxShadowDark;
                }
            }
            .back-box{
                a{
                    background-color: $darkBlue !important;
                    -webkit-box-shadow: $boxShadowDark !important;
                    -moz-box-shadow: $boxShadowDark !important;
                    box-shadow: $boxShadowDark !important;
                    color: $white !important;
                }
            }

            .country-container{
                    .country-info{
                        .country-info-box{
                            color: $white;
                            .borders a{
                                background-color: $darkBlue;
                                color: $white;
                                -webkit-box-shadow: $boxShadowDark;
                                -moz-box-shadow: $boxShadowDark;
                                box-shadow: $boxShadowDark;
                            }
                    }
                }
            }
        }
    }
}